image: node:latest
before_script:
  - echo "this should be reached"
  - node -v
  - cd frontend

cache:
  paths:
    - node_modules/
    - build/
    - .yarn

stages:
  - install
  - lint
  - test

install_frontend:
  stage: install
  script:
    # are we in a docker-executor
    - if [ -f /.dockerenv ]; then echo "docker-executor"; fi
    - yarn install
    - echo "this should be reached"

lint_frontend:
  stage: lint
  needs: [install_frontend]
  script:
    - yarn lint

test_frontend:
  stage: test
  needs: [lint_frontend]
  script:
    - yarn test
