image: node:12.8.4
before_script:
  - rm -rf /var/lib/gitlab-runner/.yarn
  # Install yarn as outlined in (https://yarnpkg.com/lang/en/docs/install/#alternatives-stable)
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  # Make available in the current terminal
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"
  - cd frontend

cache:
  paths:
    - node_modules/
    - build/

stages:
  - install
  - lint
  - test

install_frontend:
  stage: install
  script:
    - yarn install

lint_frontend:
  stage: lint
  needs: [install_frontend]
  script:
    - yarn lint

test_frontend:
  stage: test
  needs: [lint_frontend]
  script:
    - yarn test
