image: node:lts

before_script:
  # are we in a docker-executor
  - if [ -f /.dockerenv ]; then echo "docker-executor"; fi
  - echo "start ci"
  - node -v
  - cd frontend

cache:
  paths:
    - node_modules/
    - build/
    - .yarn

stages:
  - test
  - deploy_frontend

test_frontend:
  stage: test
  script:
    - yarn install
    - yarn lint
    - yarn test

deploy_frontend:
  stage: deploy_backend
  only:
    - master
  script:
    - yarn build
    # TODO: Copy to server
    # - serve -s build -l 80
