image: node:latest
before_script:
  echo "start ci"
  - cd frontend

cache:
  paths:
    - node_modules/
    - build/
    - .yarn

stages:
  - check

check_frontend:
  stage: check
  script:
    # are we in a docker-executor
    - if [ -f ../.dockerenv ]; then echo "docker-executor"; fi
    - yarn install
    - yarn lint
    - yarn test
