image: node:9.11.1
before_script:
  # Install yarn as outlined in (https://yarnpkg.com/lang/en/docs/install/#alternatives-stable)
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  # Make available in the current terminal
  - export PATH="$HOME/.yarn/bin:$HOME/.config/yarn/global/node_modules/.bin:$PATH"

cache:
  paths:
    - node_modules/
    - build/
    - .yarn

stages:
  - install
  - lint
  - test

install_frontend:
  stage: install
  script:
    - yarn install

lint_frontend:
  stage: lint
  needs: [install_frontend]
  script:
    - yarn lint

test_frontend:
  stage: test
  needs: [lint_frontend]
  script:
    - yarn test
