[Unit]
Description=Channels Worker for async tasks
After=network.target

[Service]
User=ins
Group=ins
WorkingDirectory=/home/ins/web-app-nornir/backend
ExecStart=/home/ins/web-app-nornir/backend/venv/bin/celery -A backend worker
Restart=always

[Install]
WantedBy=multi-user.target